# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# PyInstaller
build/
dist/
*.spec
*.manifest
*.egg-info/

# Настройки и логи
slaylauncher_settings.json
launcher_settings.json
settings.json
slaylauncher.log
*.log

# Скачанные файлы
java/
.myminecraft/
.slayminecraft/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Временные
tmp/
temp/
*.tmp